<!DOCTYPE html>
<html>
  <head>
    <title>Audit List</title>
    <% include ./base/head %>
  </head>
  <body>
    <% include ./base/nav %>
    <% include ./base/scripts %>
    <h1>Audit List</h1>
    <% if (auditlist && auditlist.length) { %>
      <ul>
        <% auditlist.forEach((item) => { %>
          <li>
            <a class="test" href="/audits/<%= item._id %>/book"><%= item.auditdescription %></a>
            <a class="test" href="/audits/<%= item._id %>/edit">Edit</a>
            <a href="/audits/<%= item._id %>/delete">Delete</a>
          </li>
        <% }) %>
      </ul>
    <% } %>
    <%- include("./base/newButton", {newUrl: "/audits/new"}) %>
    <% include ./base/footer %>
  </body>
</html>