<!DOCTYPE html>
<html>
  <head>
    <title>Material & Projeto</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' type="text/css"/>
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="formMaterialAndProject" name="assignmaterialproject" method="post" action="<%= action %>">
      <input type="hidden" value="<%= assign._id %>" name="_id" />
      
      <p>Projeto</p>
      <% if (projectlist && projectlist.length) { %>
        <select name="project" >
          <% projectlist.forEach((item) => { %>
            <option value="<%= item._id %>" <%= assign.project && (assign.project == item._id) ? 'selected' : '' %> ><%= item.projectname %></option>
          <% }) %>
        </select>
      <% } %>

      <p>Material</p>
      <% if (materiallist && materiallist.length) { %>
        <select name="material" >
          <% materiallist.forEach((item) => { %>
            <option value="<%= item._id %>" <%= assign.material && (assign.material == item._id) ? 'selected' : '' %> ><%= item.materialname %></option>
          <% }) %>
        </select>
      <% } %>
      
      <p></p>
      <button id="btnSubmit" type="submit">Salvar</button>
    </form>
  </body>
</html>