<!DOCTYPE html>
<html>
  <head>
    <title>Manter Projeto</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' type="text/css"/>
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="formAddProject" name="addproject" method="post" action="<%= action %>">
      <input type="hidden" value="<%= project._id %>" name="_id" />
      <p>Nome do Projeto</p>
      <input id="inputProjectName" type="text" placeholder="" name="projectname" value="<%= project.projectname %>" />
      <p>Nome do Cliente</p>
      <input id="inputCustomerName" type="text" placeholder="" name="customername" value="<%= project.customername %>" />
      <p>Data de Início</p>
      <input id="inputStartDate" type="date" placeholder="" name="startdate" value="<%= project.startdate %>" />
      <p>Data de Fim</p>
      <input id="inputEndDate" type="date" placeholder="" name="enddate" value="<%= project.enddate %>" />

      <p>Mestre de Obras</p>
      <% if (userlist && userlist.length) { %>
        <select name="masterofworks" >
          <% userlist.forEach((item) => { %>
            <option value="<%= item._id %>" <%= project.masterofworks && (project.masterofworks == item._id) ? 'selected' : '' %> ><%= item.username %></option>
          <% }) %>
        </select>
      <% } %>

      <p>Materiais Relacionados
        <a href="/projectMaterials/new">Adicionar</a>
      </p>
      <% if (relatedProjectsList && relatedProjectsList.length) { %>
        <ul>
          <% relatedProjectsList.forEach((item) => { %>
            <li>
              <a class="test" href="/projectMaterials/<%= item._id %>/edit"><%= item.materialName %> (<%= item.materialusage %>) - <%= item.userName %></a>
              <a href="/projectMaterials/<%= item._id %>/delete">Delete</a>
            </li>
          <% }) %>
        </ul>
      <% } %>

      <p></p>
      <button id="btnSubmit" type="submit">Salvar</button>
    </form>
  </body>
</html>