<!DOCTYPE html>
<html>
  <head>
    <title>Projeto & Material</title>
    <% include ./base/head %>
  </head>
  <body>
    <% include ./base/nav %>
    <% include ./base/scripts %>
    <h1><%= title %></h1>
    <form id="formMaterialAndProject" name="assignprojectmaterial" method="post" action="<%= action %>">
      <input type="hidden" value="<%= projectMaterial._id %>" name="_id" />
      <input type="hidden" value="<%= projectMaterial.materialName %>" name="materialName" />
      <input type="hidden" value="<%= projectMaterial.projectName %>" name="projectName" />
      <input type="hidden" value="<%= projectMaterial.userName %>" name="userName" />

      <p>Projeto</p>
      <% if (projectlist && projectlist.length) { %>
        <select name="proj" >
          <% projectlist.forEach((item) => { %>
            <option value="<%= item._id %>" <%= projectMaterial.proj && (projectMaterial.proj == item._id) ? 'selected' : '' %> ><%= item.projectname %></option>
          <% }) %>
        </select>
      <% } %>

      <p>Material</p>
      <% if (materiallist && materiallist.length) { %>
        <select name="mat" >
          <% materiallist.forEach((item) => { %>
            <option value="<%= item._id %>" <%= projectMaterial.mat && (projectMaterial.mat == item._id) ? 'selected' : '' %> ><%= item.materialname %></option>
          <% }) %>
        </select>
      <% } %>

      <p>Consumo</p>
      <input id="inputUsage" type="number" step="0.01" min="0" placeholder="" name="materialusage" value="<%= projectMaterial.materialusage %>" />

      <p>Usuário Responsável</p>
      <% if (userlist && userlist.length) { %>
        <select name="responsibleUser" >
          <% userlist.forEach((item) => { %>
            <option value="<%= item._id %>" <%= projectMaterial.responsibleUser && (projectMaterial.responsibleUser == item._id) ? 'selected' : '' %> ><%= item.username %></option>
          <% }) %>
        </select>
      <% } %>
      
      <p></p>
      <button id="btnSubmit" type="submit">Salvar</button>
    </form>
    <% include ./base/footer %>
  </body>
</html>