<!DOCTYPE html>
<html>
  <head>
    <title>Manter Requisito Legal</title>
    <% include ./base/head %>
  </head>
  <body>
    <% include ./base/nav %>
    <% include ./base/scripts %>
    <h1><%= title %></h1>
    <form id="formAddRequirement" name="addrequirement" method="post" action="<%= action %>">
      <input type="hidden" value="<%= requirement._id %>" name="_id" />
      <p>Nome do Requisito</p>
      <input id="inputRequirementName" type="text" placeholder="" name="requirementname" value="<%= requirement.requirementname %>" />
      <p>Descrição</p>
      <input id="inputRequirementDescription" type="text" placeholder="" name="requirementdescription" value="<%= requirement.requirementdescription %>" />
      
      <p>Projetos Relacionados
        <a href="/projectRequirements/new">Adicionar</a>
      </p>
      <% if (relatedProjectsList && relatedProjectsList.length) { %>
        <ul>
          <% relatedProjectsList.forEach((item) => { %>
            <li>
              <a class="test" href="/projectRequirements/<%= item._id %>/edit"><%= item.projectName %> - <%= item.status %> - <%= item.priority %> - <%= item.userName %></a>
              <a href="/projectRequirements/<%= item._id %>/delete">Delete</a>
            </li>
          <% }) %>
        </ul>
      <% } %>

      <p></p>
      <button id="btnSubmit" type="submit">Salvar</button>
    </form>
    <% include ./base/footer %>
  </body>
</html>