<!DOCTYPE html>
<html>
  <head>
    <title>Manter Usuário</title>
    <link rel='stylesheet' href='/public/stylesheets/style.css' type="text/css"/>
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="formAddUser" name="adduser" method="post" action="<%= action %>">
      <input type="hidden" value="<%= user._id %>" name="_id" />
      <p>Usuário</p>
      <input id="inputUserName" type="text" placeholder="" name="username" value="<%= user.username %>" />
      <p>E-mail</p>
      <input id="inputUserEmail" type="text" placeholder="" name="useremail" value="<%= user.useremail %>" />
      <p>Autorizações</p>
      <select name="authorization" multiple >
        <option value="GDP" <%= (user.authorization && user.authorization.findIndex && (user.authorization.findIndex((a) => a === 'GDP') !== -1)) || (user.authorization && user.authorization === 'GDP') ? 'selected' : '' %> >Gerente de projeto</option>
        <option value="MDO" <%= (user.authorization && user.authorization.findIndex && (user.authorization.findIndex((a) => a === 'MDO') !== -1)) || (user.authorization && user.authorization === 'MDO') ? 'selected' : '' %> >Mestre de obras</option>
        <option value="SYS" <%= (user.authorization && user.authorization.findIndex && (user.authorization.findIndex((a) => a === 'SYS') !== -1)) || (user.authorization && user.authorization === 'SYS') ? 'selected' : '' %> >Administrador de sistema</option>
        <option value="AUD" <%= (user.authorization && user.authorization.findIndex && (user.authorization.findIndex((a) => a === 'AUD') !== -1)) || (user.authorization && user.authorization === 'AUD') ? 'selected' : '' %> >Auditor</option>
      </select>

      <p>Responsabilidade de Materiais
        <a href="/projectMaterials/new">Adicionar</a>
      </p>
      <% if (relatedMaterialsList && relatedMaterialsList.length) { %>
        <ul>
          <% relatedMaterialsList.forEach((item) => { %>
            <li>
              <a class="test" href="/projectMaterials/<%= item._id %>/edit"><%= item.materialName %> (<%= item.materialusage %>) - <%= item.projectName %></a>
              <a href="/projectMaterials/<%= item._id %>/delete">Delete</a>
            </li>
          <% }) %>
        </ul>
      <% } %>

      <p>Responsabilidade de Requisitos
        <a href="/projectRequirements/new">Adicionar</a>
      </p>
      <% if (relatedRequirementsList && relatedRequirementsList.length) { %>
        <ul>
          <% relatedRequirementsList.forEach((item) => { %>
            <li>
              <a class="test" href="/projectRequirements/<%= item._id %>/edit"><%= item.projectName %> - <%= item.requirementName %> - <%= item.status %> - <%= item.priority %></a>
              <a href="/projectRequirements/<%= item._id %>/delete">Delete</a>
            </li>
          <% }) %>
        </ul>
      <% } %>

      <p></p>
      <button id="btnSubmit" type="submit">Salvar</button>
    </form>
  </body>
</html>