<!DOCTYPE html>
<html>
  <head>
    <title>Manter Usuário</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="formAddUser" name="adduser" method="post" action="<%= action %>">
      <input type="hidden" value="<%= user._id %>" name="_id" />
      <p>Usuário</p>
      <input id="inputUserName" type="text" placeholder="" name="username" value="<%= user.username %>" />
      <p>E-mail</p>
      <input id="inputUserEmail" type="text" placeholder="" name="useremail" value="<%= user.useremail %>" />
      <p>Autorizações</p>
      <select name="authorization" multiple="true" >
        <option value="GDP" <%= user.authorization && (user.authorization.findIndex((a) => a === 'GDP') !== -1) ? 'selected' : '' %> >Gerente de projeto</option>
        <option value="MDO" <%= user.authorization && (user.authorization.findIndex((a) => a === 'MDO') !== -1) ? 'selected' : '' %> >Mestre de obras</option>
        <option value="SYS" <%= user.authorization && (user.authorization.findIndex((a) => a === 'SYS') !== -1) ? 'selected' : '' %> >Administrador de sistema</option>
        <option value="AUD" <%= user.authorization && (user.authorization.findIndex((a) => a === 'AUD') !== -1) ? 'selected' : '' %> >Auditor</option>
      </select>
      <p></p>
      <button id="btnSubmit" type="submit">Salvar</button>
    </form>
  </body>
</html>