<!DOCTYPE html>
<html>
  <head>
    <title>Project-Requirement List</title>
    <% include ./base/head %>
  </head>
  <body>
    <% include ./base/nav %>
    <% include ./base/scripts %>
    <h1>Project-Requirement List</h1>
    <% if (projectRequirementList && projectRequirementList.length) { %>
      <ul>
        <% projectRequirementList.forEach((item) => { %>
          <li>
            <a class="test" href="/projectRequirements/<%= item._id %>/edit"><%= item.projectName %> - <%= item.requirementName %> - <%= item.status %> - <%= item.priority %> - <%= item.userName %></a>
            <a href="/projectRequirements/<%= item._id %>/delete">Delete</a>
          </li>
        <% }) %>
      </ul>
    <% } %>
    <%- include("./base/newButton", {newUrl: "/projectRequirements/new"}) %>
    <% include ./base/footer %>
  </body>
</html>